body{
    background-color : #dfe230;
}

ul.links{
    color: #32384D;
    list-style: none;
    background-color: chocolate;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 150px;
}

.links >a > li{
    display: inline;
    margin-right: 10px;
}

.links > a{
    text-decoration: none;
    color: #32384D;
}

.links > a :hover{
    color:#fb00ff;
}


hr{
    color: #0000FF;
}


ul.goods_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    width : 100%;
    height: 50%;
    padding-left: 1%;
    justify-content: space-around;
}

ul.goods_list > li{
    margin-right: 2.5%;
}


.good_image{
    width : 480px;
    height : 270px;
    outline: solid 1px fuchsia;
}

.good_title{
    color: dodgerblue;
    text-decoration: none;
}

a.good_title :hover{
    color : rgb(153, 0, 255);
}

.good_text{
    color: lightcoral;
    text-decoration: none;
}

a.good_text :hover{
    color :#008f53;
}

.good_sells{
    color: #217CA3;
}


.footer{
    font: 100;
    color: #32384D;
    background-color: chocolate;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    border-radius: 150px;
}

